<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark" [routerLink]="['new']" routerLinkActive="active">Nuevo</button>
      <button type="button" class="btn btn-outline-dark" [routerLink]="['edit']" routerLinkActive="active">Editar</button>
      <button type="button" class="btn btn-outline-dark" [routerLink]="['detail']" routerLinkActive="active">Detalle</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>